<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>ScuolaCucina11</display-name>

	<servlet>
		<servlet-name>registraUtente</servlet-name>
		<jsp-file>/WEB-INF/jsp/registraUtente.jsp</jsp-file>
	</servlet>


	<servlet-mapping>
		<servlet-name>registraUtente</servlet-name>
		<url-pattern>/registraUtente.jsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
	</servlet>


	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index.jsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>erroreGenerico</servlet-name>
		<jsp-file>/WEB-INF/jsp/erroreGenerico.jsp</jsp-file>
	</servlet>


	<servlet-mapping>
		<servlet-name>erroreGenerico</servlet-name>
		<url-pattern>/erroreGenerico.jsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>registrazioneUtenteOk</servlet-name>
		<jsp-file>/WEB-INF/jsp/registrazioneUtenteOk.jsp</jsp-file>
	</servlet>


	<servlet-mapping>
		<servlet-name>registrazioneUtenteOk</servlet-name>
		<url-pattern>/registrazioneUtenteOk.jsp</url-pattern>
	</servlet-mapping>




	<welcome-file-list>
		<welcome-file>cucina.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>